@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Elms Sans", sans-serif;
}

@layer base {
  :root {
    --background: #fafaf9; /* stone-50 */
    --foreground: #1c1917; /* stone-900 */
  }

  /* Optimize for mobile */
  html, body {
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}
